@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

body {
  background: #f2f4f8;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 961px) {
  body {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (min-width: 711px) and (max-width: 960px) {
  body {
    padding-left: 5%;
    padding-right: 5%;
  }
}

html.is-active {
  overflow-y: hidden;
}

.header {
  z-index: 10000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #f2f4f8;
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.01875rem;
  line-height: 1.5rem;
}

.header a {
  text-decoration: none;
  color: inherit;
}

.header .logo {
  align-items: stretch;
  flex-flow: row nowrap;
  display: flex;
  justify-content: center;
  text-align: center;
}

@media (max-width: 960px) {
  .header-members__login,
  .header-members__mypage {
    display: inline-block;
    width: 100%;
  }

  .header .login,
  .header .mypage {
    width: 50%;
    text-align: center;
  }

  .header .login img,
  .header .mypage img {
    display: none;
  }

  .header .login {
    border-right: 3px solid #a0a0a0;
  }
}

.header .member-service {
  display: flex;
  justify-content: space-around;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 0.3125rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  margin-top: 3.125rem;
  margin-bottom: 1.875rem;
}

@media (max-width: 960px) {
  .header-nav-list {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 3.75rem;
    background: #f2f4f8;
    transform: translateX(100%);
    transition: all 350ms ease-in-out;
    position: absolute;
    top: 3.75rem;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
  }

  .header-nav-list.is-active {
    transform: none;
  }
}

.header-nav__item {
  cursor: pointer;
}

.header-nav__button {
  position: relative;
  padding: 1.25rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.01875rem;
  line-height: 1.5rem;
  width: 100%;
  text-align: left;
  height: 3.125rem;
}

.header-nav__button img {
  position: absolute;
  right: 1.875rem;
  transition: all 200ms ease-in-out;
}

.header-nav__button.is-active img {
  transform: rotate(-180deg);
  transition-property: all;
  transition-duration: 0.2s;
}

.header .button--burger {
  position: absolute;
  padding: 0.3125rem;
  top: 1.25rem;
  right: 0.625rem;
}

.header .button--burger__top,
.header .button--burger__middle,
.header .button--burger__bottom {

  transition: all 200ms;
}

.header .button--burger.is-active .button--burger__top {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.header .button--burger.is-active .button--burger__middle {
  transform: translate(-150%, -50%);
}

.header .button--burger.is-active .button--burger__bottom {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.header .sub-menu {
  display: none;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  background: #fff;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: -0.01875rem;
  line-height: 1.3125rem;
}

.header .sub-menu li {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  border-bottom: 1px solid #dbdbdb;
}

.header .sub-menu li:last-child {
  border-bottom: 0;
}

.header .sub-menu.is-active {
  display: block;
}

@media (min-width: 961px) {
  .header {
    align-items: stretch;
    flex-flow: row nowrap;
    display: flex;
    justify-content: flex-start;
    position: fixed;
  }

  .header__title {
    margin-bottom: 0;
  }

  .header-nav img {
    transform: translateY(0.125rem);
  }

  .header .logo img {
    transform: translateY(0.625rem);
  }

  .header-layout {
    align-items: stretch;
    flex-flow: row nowrap;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .header .member-service {
    padding-top: 0.3125rem;
    background: inherit;
    border: none;
    order: 1;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    margin: 0;
  }

  .header .login img,
  .header .mypage img {
    display: inline;
    transform: translateY(0.3125rem);
  }

  .header .login {
    margin-right: 1.25rem;
  }

  .header .sub-menu {
    overflow-y: hidden;
    position: absolute;
    transform: translateX(-40px);
    width: 14.375rem;
  }

  .header-nav-list {
    align-items: stretch;
    flex-flow: row nowrap;
    display: flex;
    justify-content: flex-start;
  }

  .header-nav-list.is-active {
    align-items: stretch;
    flex-flow: row nowrap;
    display: flex;
    justify-content: flex-start;
    height: max-content;
    width: 100vw;
    position: static;
    overflow: hidden;
  }

  .header-nav__item:first-child {
    order: 1;
  }

  .header-nav__button img {
    position: static;
  }

  .header-members,
  .header-nav {
    display: block;
  }
}

html {
  overflow-x: hidden;
}

body {
  margin-right: calc(-100vw + 100%);
}

.footer {
  position: relative;
  overflow: hidden;
  background-color: #333;
  color: #a0a0a0;
  word-wrap: break-word;
  word-break: keep-all;
  font-size: 0.875rem;
  letter-spacing: -0.01875rem;
  line-height: 1.3125rem;
  padding: 0.125rem 1rem 3.5rem;
  display: block;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  margin-right: initial;
  width: 100vw;
  width: 100vw;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 711px) and (max-width: 960px) {
  .footer {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media (min-width: 961px) {
  .footer {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

.footer-section__title {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.01875rem;
  line-height: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.footer-section-list div {
  display: block;
}

.footer-section-list div:nth-child(1) dt,
.footer-section-list div:nth-child(1) span {
  display: none;
}

.footer-section-list:nth-child(1) span {
  display: none;
}

.footer-section-list dt,
.footer-section-list dd {

  display: inline-block;
}

.footer-movetop {
  position: absolute;
}

.footer-movetop button {
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.01875rem;
  line-height: 1.5rem;
}

@media (max-width: 710px) {
  .footer-movetop {
    right: 16px;
  }
}

@media (min-width: 711px) and (max-width: 960px) {
  .footer-movetop {
    right: 5vw;
  }
}

@media (min-width: 961px) {
  .footer-movetop {
    right: 5vw;
    top: 200px;
  }
}

.footer .etc a {
  display: inline-block;
  font-style: normal;
  color: inherit;
  text-decoration: none;
}

.footer .etc a::after {
  content: '';
  display: block;
  width: 0;
  height: 0.01rem;
  background-color: #ccced2;
  transition: width 0.2s;
}

.footer .etc a:hover::after {
  width: 100%;
}

.footer .privacy a:hover::after {
  display: none;
}

.footer .contact a {
  font-style: normal;
  text-decoration: none;
  color: inherit;
}

.privacy,
.refund,
.help {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: -0.01875rem;
  line-height: 1.3125rem;
}

.tel li {
  list-style-type: '-';
  margin-left: 0.375rem;
  text-indent: 0.25rem;
}

.footer-sns {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.footer-sns li {
  flex-grow: 1;
}

.footer .copyright::first-letter {
  text-transform: uppercase;
}

.footer-more {
  width: 90vw;
  border-top: 0.0625rem solid #6c6c6c;
  padding-top: 2rem;
  margin-top: 3.25rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

@media (min-width: 711px) and (max-width: 960px) {
  .footer-more {
    width: 90vw;
  }
}

@media (min-width: 961px) {
  .footer-more {
    width: 90vw;
  }
}

.copyright {
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: -0.01875rem;
  line-height: 1.3125rem;
  display: block;
}

.footer-sns {
  float: right;
  width: 200px;
}

.footer-sns img {
  vertical-align: bottom;
}

@media (min-width: 961px) {
  .footer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .company {
    flex-grow: 1;
  }

  .etc {
    flex-grow: 1;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
  }

  .contact {
    flex-grow: 1;
  }

  .footer-more {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    bottom: 4.375rem;
  }

  .copyright {
    text-align: left;
  }
}

@media (min-width: 711px) and (max-width: 960px) {
  .footer {
    display: inline-block;
  }

  .footer-sns {
    margin-right: 0;
  }

  .copyright {
    display: none;
  }
}

.banner {
  margin-top: 4rem;
  position: relative;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  margin-right: initial;
  width: 100vw;
  width: 100vw;
}

@media (min-width: 711px) and (max-width: 960px) {
  .banner {
    height: 25.25rem;
  }
}

@media (min-width: 961px) {
  .banner {
    height: 25.25rem;
    margin-top: 5.625rem;
  }
}

.banner a {
  padding-left: 1rem;
  padding-right: 1rem;
  width: inherit;
}

@media (max-width: 710px) {
  .banner a {
    height: 50%;
  }
}

@media (min-width: 711px) and (max-width: 960px) {
  .banner a {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media (min-width: 961px) {
  .banner a {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

.banner-list-status {
  display: block;
  background-color: rgba(0, 0, 0, 0.24);
  color: #fff;
  width: 4.625rem;
  line-height: 2.25rem;
  text-align: center;
  position: absolute;
  bottom: 0.4375rem;
  border-radius: 20px;
  left: 16px;
}

@media (min-width: 961px) {
  .banner-list-status {
    bottom: 1.5rem;
    left: 5vw;
  }
}

@media (min-width: 711px) and (max-width: 960px) {
  .banner-list-status {
    bottom: 1.5rem;
    left: 5vw;
  }
}

.banner-list-control {
  position: absolute;
  bottom: 0.4375rem;
  left: 6.25rem;
  text-align: center;
}

@media (min-width: 961px) {
  .banner-list-control {
    bottom: 1.5rem;
    left: 15vw;
  }
}

@media (min-width: 711px) and (max-width: 960px) {
  .banner-list-control {
    bottom: 1.5rem;
    left: 15vw;
  }
}

.banner-list-control button {
  width: 2.25rem;
  height: 2.25rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.24);
  color: #fff;
  margin: 0;
}

.banner-list-control .button-prev {
  border-bottom-left-radius: 1.125rem;
  border-top-left-radius: 1.125rem;
}

.banner-list-control .button-pause {
  border-left: 1px solid #101010;
  border-right: 1px solid #101010;
}

.banner-list-control .button-next {
  border-bottom-right-radius: 1.125rem;
  border-top-right-radius: 1.125rem;
}

.banner-container {
  width: inherit;
  height: inherit;
}

.banner-container li {
  width: inherit;
  height: inherit;
  padding-bottom: 3rem;
}

@media (min-width: 711px) and (max-width: 960px) {
  .banner-container li {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media (min-width: 961px) {
  .banner-container li {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.banner-container li:nth-child(1) {
  background-color: #1d4332;
}

.banner-container li:nth-child(1) span {
  color: #efe6d1;
}

.banner-container li:nth-child(2) {
  background-color: #6254f4;
}

.banner-container li:nth-child(2) span {
  color: #ddff12;
}

.banner-container li:nth-child(3) {
  background-color: #ffaf40;
}

.banner-container li:nth-child(3) span {
  color: #ff4f4f;
}

.banner-container li:nth-child(4) {
  background-color: #0f1e6f;
}

.banner-container li:nth-child(4) span {
  color: #496fff;
}

.banner-slide {
  display: none;
}

.banner-slide.is-active {
  display: flex;
}

@media (min-width: 961px) {
  .banner-slide.is-active img {
    animation-name: changeImage;
    animation-duration: 5s;
  }
}

@media (min-width: 711px) and (max-width: 960px) {
  .banner-slide.is-active img {
    animation-name: changeImage;
    animation-duration: 5s;
  }
}

@keyframes changeImage {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.8);
  }
}

@media (max-width: 710px) {
  .banner-slide {
    flex-direction: column;
  }
}

@media (min-width: 961px) {
  .banner-slide {
    flex-direction: row-reverse;
    justify-content: center;
  }
}

@media (min-width: 711px) and (max-width: 960px) {
  .banner-slide {
    flex-direction: row-reverse;
    justify-content: center;
  }
}

.banner-slide img {
  border-radius: 20px;
}

@media (max-width: 710px) {
  .banner-slide img {
    width: 100%;
  }
}

@media (min-width: 711px) and (max-width: 960px) {
  .banner-slide img {
    max-height: 308px;
  }
}

@media (min-width: 961px) {
  .banner-slide img {
    max-height: 308px;
  }
}

.banner-slide div {
  flex-grow: 1;
}

.banner a {
  text-decoration: none;
}

@media (max-width: 710px) {
  .banner-desc {
    margin-top: 1rem;
  }
}

.banner-desc h3 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.01875rem;
  line-height: 2.25rem;
  width: 100%;
  color: #fff;
  margin-top: 0.375rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 711px) and (max-width: 960px) {
  .banner-desc h3 {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.01875rem;
    line-height: 3rem;
    word-break: keep-all;
  }
}

@media (min-width: 961px) {
  .banner-desc h3 {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.01875rem;
    line-height: 3rem;
    word-break: keep-all;
  }
}

.banner-desc p {
  font-size: 0.75rem;
  color: #fff;
}

@media (min-width: 711px) and (max-width: 960px) {
  .banner-desc p {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -0.01875rem;
    line-height: 1.5rem;
    color: #fff;
  }
}

@media (min-width: 961px) {
  .banner-desc p {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -0.01875rem;
    line-height: 1.5rem;
    color: #fff;
  }
}

.banner__status {
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: -0.01875rem;
  line-height: 1.125rem;
  color: #ed204b;
  text-transform: uppercase;
}

@media (min-width: 711px) and (max-width: 960px) {
  .banner {
    position: relative;
    left: 50%;
    margin-left: -50vw;
    margin-right: initial;
    width: 100vw;
    width: 100vw;
  }
}

.main-nav {
  padding: 1.5rem 0;
}

@media (min-width: 711px) and (max-width: 960px) {
  .main-nav {
    padding: 3rem 0;
  }
}

@media (min-width: 961px) {
  .main-nav {
    padding: 3rem 0;
  }
}

.main-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.main__item {
  list-style-type: none;
}

.main__item span {
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  border-radius: 30%;
}

@media (min-width: 711px) and (max-width: 960px) {
  .main__item span {
    width: 6rem;
    height: 6rem;
  }
}

@media (min-width: 961px) {
  .main__item span {
    width: 6rem;
    height: 6rem;
  }
}

.main__item img {
  width: 4rem;
  height: 4rem;
  border-radius: 30%;
  transition: transform 0.2s linear;
}

.main__item img:hover {
  transform: scale(1.2);
}

@media (min-width: 961px) {
  .main__item img {
    width: 6rem;
    height: 6rem;
  }
}

@media (min-width: 711px) and (max-width: 960px) {
  .main__item img {
    width: 6rem;
    height: 6rem;
  }
}

.main__item figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__item a {
  text-decoration: none;
}

.practice {
  overflow: hidden;
}

.practice-container {
  align-items: stretch;
  flex-flow: row nowrap;
  display: flex;
  justify-content: flex-start;
  position: relative;
  overflow-x: hidden;
}

.card-practice {
  flex-shrink: 0;
  margin-right: 1rem;
}

@media (max-width: 710px) {
  .card-practice {
    flex-basis: 100%;
    flex-shrink: 0;
    width: 100%;
  }
}

@media (min-width: 711px) and (max-width: 960px) {
  .card-practice {
    flex-basis: 48%;
  }
}

@media (min-width: 961px) {
  .card-practice {
    flex-basis: 32%;
  }
}

.card-practice .card__desc {
  height: 3.5rem;
}

.content {
  position: relative;
  padding-top: 4.25rem;
}

.content__title {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.01875rem;
  line-height: 2.25rem;
  position: absolute;
  top: 0;
  left: 0;
}

.button-group {
  position: absolute;
  top: 0;
  right: 0.5rem;
}

@media (max-width: 710px) {
  .button-group {
    top: 1.5rem;
  }
}

.course {
  display: block;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.course a {
  text-decoration: none;
  color: inherit;
}

.course .carousel-article-status {
  position: absolute;
  top: 15.3125rem;
  left: 1.25rem;
  display: block;
  background-color: rgba(0, 0, 0, 0.24);
  color: #fff;
  width: 4.625rem;
  line-height: 2.25rem;
  text-align: center;
  border-radius: 1.25rem;
}

@media (min-width: 711px) and (max-width: 960px) {
  .course .carousel-article-status {
    top: 13.4375rem;
    left: 3.75rem;
  }
}

@media (min-width: 961px) {
  .course .carousel-article-status {
    top: 13.4375rem;
    left: 3.75rem;
  }
}

.course .carousel-article-control {
  position: absolute;
  top: 15.3125rem;
  left: 6.25rem;
  text-align: center;
}

.course .carousel-article-control button {
  width: 2.25rem;
  height: 2.25rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.24);
  color: #fff;
  margin: 0;
}

.course .carousel-article-control .button-prev {
  border-bottom-left-radius: 1.125rem;
  border-top-left-radius: 1.125rem;
}

.course .carousel-article-control .button-pause {
  border-left: 0.0625rem solid #101010;
  border-right: 0.0625rem solid #101010;
}

.course .carousel-article-control .button-next {
  border-bottom-right-radius: 1.125rem;
  border-top-right-radius: 1.125rem;
}

@media (min-width: 711px) and (max-width: 960px) {
  .course .carousel-article-control {
    top: 13.4375rem;
    left: 8.75rem;
  }
}

@media (min-width: 961px) {
  .course .carousel-article-control {
    top: 13.4375rem;
    left: 8.75rem;
  }
}

.course .carousel-title {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.01875rem;
  line-height: 1.6875rem;
}

.course .carousel-course {
  display: none;
  border-radius: 0.625rem;
  background-color: cornflowerblue;
  color: #fff;
  padding: 5rem 1.5rem;
  margin-top: 1rem;
}

.course .carousel-course.is-active {
  display: block;
}

.course .carousel-banner1 {
  background-color: #7eb256;
}

.course .carousel-banner1 .carousel-status {
  color: #f4bc88;
}

.course .carousel-banner2 {
  background-color: #3e474f;
}

.course .carousel-banner3 {
  background-color: #e55509;
}

.course .carousel-banner3 .carousel-status {
  color: cornsilk;
}

.course .carousel-banner4 {
  background-color: #c29d58;
}

.course .carousel-banner4 .carousel-status {
  color: #055a5a;
}

@media (min-width: 711px) and (max-width: 960px) {
  .course {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .course .carousel-title {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.01875rem;
    line-height: 2.25rem;
  }

  .course .carousel-course {
    border-radius: 0.625rem;
    color: #fff;
    padding: 3.75rem;
    margin-top: 1rem;
  }

  .course .carousel-banner1 {
    background: url('../../assets/3.webp') right/auto 100% no-repeat;
  }

  .course .carousel-banner2 {
    background: url('../../assets/1.webp') right/auto 100% no-repeat;
  }

  .course .carousel-banner3 {
    background: url('../../assets/2.webp') right/auto 100% no-repeat;
  }

  .course .carousel-banner4 {
    background: url('../../assets/4.webp') right/auto 100% no-repeat;
  }
}

@media (min-width: 961px) {
  .course {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .course .carousel-title {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.01875rem;
    line-height: 2.25rem;
  }

  .course .carousel-course {
    border-radius: 0.625rem;
    color: #fff;
    padding: 3.75rem;
    margin-top: 1rem;
  }

  .course .carousel-banner1 {
    background: #7eb256 url('../../assets/3.webp') right/auto 100% no-repeat;
  }

  .course .carousel-banner2 {
    background: #3e474f url('../../assets/1.webp') right/auto 100% no-repeat;
  }

  .course .carousel-banner3 {
    background: #e55509 url('../../assets/2.webp') right/auto 100% no-repeat;
  }

  .course .carousel-banner4 {
    background: #c29d58 url('../../assets/4.webp') right/auto 100% no-repeat;
  }
}

.course .carousel-status,
.course .carousel-desc {
  display: inline;
  margin-right: 0.5rem;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: -0.01875rem;
  line-height: 1.3125rem;
}

.course .carousel-status {
  text-transform: uppercase;
  color: #ddff12;
}

figcaption {
  margin-top: 1rem;
  text-align: center;
  color: #101010;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: -0.01875rem;
  line-height: 1.125rem;
}

@media (min-width: 961px) {
  figcaption {
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -0.01875rem;
    line-height: 1.6875rem;
  }
}

@media (min-width: 711px) and (max-width: 960px) {
  figcaption {
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -0.01875rem;
    line-height: 1.6875rem;
  }
}

.lecturer {
  align-items: stretch;
  flex-flow: row wrap;
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 710px) {
  .card-lecturer {
    flex-basis: 100%;
  }
}

@media (min-width: 711px) and (max-width: 960px) {
  .card-lecturer {
    flex-basis: 48%;
  }

  .card-lecturer:nth-child(2n) {
    margin-right: 2%;
  }
}

@media (min-width: 961px) {
  .card-lecturer {
    flex-basis: 32%;
  }

  .card-lecturer:nth-child(3n),
  .card-lecturer:nth-child(3n + 2) {
    margin-right: 2%;
  }
}

.body header {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.body header a {
  display: block;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.body section {
  margin-left: auto;
  margin-right: auto;
}

.signin-form {
  padding-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 20.9375rem;
}

@media (max-width: 710px) {
  .signin-form {
    width: 100%;
    max-width: 335px;
  }
}

.signin-form-label {
  position: absolute;
}

.signin-form-info {
  width: 20.9375rem;
  height: 3.675rem;
  margin-bottom: 1rem;
  display: flex;
  position: relative;
}

@media (max-width: 710px) {
  .signin-form-info {
    width: 100%;
    max-width: 20.9375rem;
  }
}

.signin-form-info input {
  flex-grow: 1;
  padding-top: 0.8125rem;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #a0a0a0;
}

.signin-form-info input:focus {
  outline: none;
  border-bottom: 1px solid blue;
}

.signin-form-info input:focus+label {
  top: 10%;
  font-size: 0.75rem;
  letter-spacing: -0.01875rem;
  line-height: 1.125rem;
}

.signin-form-info input:invalid {
  outline: none;
  border-bottom: 1px solid blue;
}

.signin-form-info input:invalid+label {
  top: 10%;
}

.signin-form-info label {
  transition: all 0.2s ease-in-out;
  font-size: 0.875rem;
  font-family: 'Spoqa Han Sans Neo';
  top: 50%;
  transform: translateY(-50%);
  color: #a0a0a0;
}

.signin-form-auto-find {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;
  font-size: 0.75rem;
  letter-spacing: -0.01875rem;
  line-height: 1.125rem;
  align-items: center;
}

.signin-form-auto-find input {
  width: 1.0625rem;
  height: 1.0625rem;
}

.signin-form-auto-find .auto-login {
  display: flex;
  align-items: center;
}

.signin-form-auto-find a {
  display: inline-block;
  color: #101010;
}

.signin-form-button {
  margin-top: 1.875rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: #c5c5c5;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.01875rem;
  line-height: 1.5rem;
  width: 100%;
  border: none;
  border-radius: 0.625rem;
  line-height: 1.875rem;
}

.signin-form-more {
  margin-top: 32px;
  text-align: center;
  font-size: 0.75rem;
  letter-spacing: -0.01875rem;
  line-height: 1.125rem;
}

.signin-form-more a {
  color: #101010;
  padding: 0.5rem;
}

.mypage-body header {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.mypage-body a {
  display: block;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.mypage-form {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
  width: 20.9375rem;
}

@media (max-width: 710px) {
  .mypage-form {
    width: 100%;
    max-width: 20.9375rem;
  }
}

.mypage-form-label {
  position: absolute;
}

.mypage-title {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  color: rgb(80, 80, 80);
}

.mypage-form-info {
  width: 20.9375rem;
  height: 3.675rem;
  margin-bottom: 1rem;
  display: flex;
  position: relative;
}

@media (max-width: 710px) {
  .mypage-form-info {
    width: 100%;
    max-width: 20.9375rem;
  }
}

.mypage-form-info input {
  flex-grow: 1;
  padding-top: 0.8125rem;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #a0a0a0;
}

.mypage-form-info input:focus {
  outline: none;
  border-bottom: 1px solid blue;
}

.mypage-form-info input:focus+label {
  top: 10%;
  font-size: 0.75rem;
  letter-spacing: -0.01875rem;
  line-height: 1.125rem;
}

.mypage-form-info input:invalid {
  outline: none;
  border-bottom: 1px solid blue;
}

.mypage-form-info input:invalid+label {
  top: 10%;
}

.mypage-form-info label {
  transition: all 0.2s ease-in-out;
  font-size: 0.875rem;
  top: 50%;
  transform: translateY(-50%);
  color: #a0a0a0;
}

.mypage-form-email-button {
  position: absolute;
  height: 1.75rem;
  right: 0;
  bottom: 0.9375rem;
  padding-left: 0.5625rem;
  padding-right: 0.5625rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.25rem;
  border: none;
  border-radius: 0.3125rem;
  background-color: #c5c5c5;
  color: #fff;
  font-size: 0.75rem;
  letter-spacing: -0.01875rem;
  line-height: 1.125rem;
}

.mypage-form-check {
  margin-top: 3rem;
  margin-bottom: 1.125rem;
}

.mypage-form-check h2 {
  margin-bottom: 1rem;
  font-size: 0.875rem;
  letter-spacing: -0.01875rem;
  line-height: 1.3125rem;
}

.mypage-form-check li {
  display: flex;
  padding-left: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.mypage-form-check li input {
  width: 1.0625rem;
  height: 1.0625rem;
}

.mypage-form-check li label {
  font-size: 0.875rem;
  letter-spacing: -0.01875rem;
  line-height: 1.3125rem;
  margin-left: 0.5rem;
}

.mypage-form-check li:nth-child(1) {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  border-bottom: 1px solid #a0a0a0;
  margin-bottom: 0.4375rem;
}

.mypage-form-button {
  margin-top: 1.875rem;
  /* margin-bottom: 1.875rem; */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: #c5c5c5;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.01875rem;
  line-height: 1.5rem;
  width: 100%;
  border: none;
  border-radius: 0.625rem;
  line-height: 1.875rem;
}

.complete-button {
  background-color: rgb(70, 121, 178);
}

.withdraw-button {
  background-color: rgb(225, 94, 85);
}

.mypage-form-back {
  margin-top: 1.875rem;
  text-align: center;
  font-size: 0.75rem;
  letter-spacing: -0.01875rem;
  line-height: 1.125rem;
  color: #101010;
}

.mypage-form-check h2 {
  color: #6c6c6c;
}

.button {
  appearance: none;
  pointer-events: none;
  background: #f2f4f8;
  border: 0;
  padding: 0.5rem 1rem;
}

.buttonNone {
  appearance: none;
  border: 0;
  padding: 0;
  background: none;
}

.button--burger {
  width: 1.5625rem;
  height: 1.5625rem;
  overflow: hidden;
  transform: translate(0, 0);
  margin-right: 10px;
  position: absolute;
  right: 0px;
}

@media (min-width: 961px) {
  .button--burger {
    display: none;
  }
}

.button--burger__top,
.button--burger__middle,
.button--burger__bottom {
  background: #333;
  position: absolute;
  left: 0;
  width: 100%;
}

.button--burger__top {
  height: 12%;
  top: 10%;
}

.button--burger__middle {
  height: 12%;
  top: 45%;
  transform: translateY(5%);
}

.button--burger__bottom {
  height: 12%;
  top: 80%;
}

.button-group {
  padding: 0.125rem;
}

.button-practice-prev,
.button-practice-next {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.01875rem;
  line-height: 2.25rem;
  color: #101010;
}

button {
  cursor: pointer;
}

.card {
  transition: transform 1s;
  border-radius: 0.625rem;
  margin-bottom: 12px;
}

@media (min-width: 711px) and (max-width: 960px) {
  .card {
    background-color: #fff;
  }
}

@media (min-width: 961px) {
  .card {
    background-color: #fff;
  }
}

.card a {
  text-decoration: none;
  color: inherit;
}

.card__title {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.01875rem;
  line-height: 2.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__thumb {
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  width: 100%;
}

.card-info {
  padding: 1rem;
}

.card__subtitle {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.01875rem;
  line-height: 1.6875rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
  max-height: 3.375rem;
  order: -1;
}

@media (max-width: 710px) {
  .card__subtitle {
    margin-top: 0.25rem;
  }
}

.card__desc {
  font-size: 0.875rem;
  letter-spacing: -0.01875rem;
  line-height: 1.3125rem;
  color: #a0a0a0;
}

.card-practice {
  background-color: #fff;
}

.card-practice .card__title {
  margin-top: 0.5rem;
}

.card-practice .card__subtitle {
  height: 3.375rem;
}

.card-practice-info {
  padding: 1rem;
}

@media (max-width: 710px) {
  .card-practice-info {
    padding: 2rem;
  }
}

.card-lecturer:hover {
  transform: translateY(-10px);
}

.card-lecturer a {
  align-items: stretch;
  flex-flow: column nowrap;
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 710px) {
  .card-lecturer a {
    flex-direction: row;
    flex-grow: 1;
    max-height: 9.375rem;
  }
}

@media (max-width: 710px) {

  .card-lecturer .card__subtitle,
  .card-lecturer .card__desc,
  .card-lecturer .tag-wrapper {
    width: 100%;
    margin-top: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media (max-width: 710px) {
  .card-lecturer .card__thumb {
    width: 8.75rem;
  }
}

@media (min-width: 711px) and (max-width: 960px) {
  .card-lecturer .card__thumb {
    height: 50%;
  }
}

@media (min-width: 961px) {
  .card-lecturer .card__thumb {
    height: 50%;
  }
}

.card-lecturer-info {
  align-items: stretch;
  flex-flow: column nowrap;
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
}

@media (max-width: 710px) {
  .card-lecturer-info {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    width: calc(100vw - 160px);
  }
}

.tag-wrapper {
  order: -2;
}

.tag {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: -0.01875rem;
  line-height: 1.125rem;
  display: inline-block;
  border-radius: 0.25rem;
  word-break: keep-all;
}

.html__tag {
  background-color: #ff4f4f;
  color: #fff;
}

.fixed__tag {
  background-color: #03d800;
  color: #101010;
}

.rwd__tag {
  background-color: #6254f4;
  color: #fff;
}

.netflix__tag {
  background-color: red;
  color: #101010;
}

.clone__tag {
  background: rgba(62, 105, 255, 0.5);
  color: #101010;
}

.sass__tag {
  background: #ff00bb;
  color: #fff;
}

.take__tag {
  border: 1px solid blue;
  color: blue;
}

.prog__tag {
  background: blue;
  color: #fff;
}

.git__tag {
  background: rgba(128, 0, 128, 0.5);
  color: #101010;
}

.markup__tag {
  background: rgba(165, 42, 42, 0.5);
  color: #101010;
}

.js__tag {
  background: #f8f800;
  color: #101010;
}

.coding__tag {
  border: 1px solid darkcyan;
  color: #008b8b;
}

.cooper__tag {
  background: rgba(3, 216, 0, 0.5);
  color: #101010;
}

.algorithm__tag {
  background: #79c5de;
  color: #101010;
}

.career__tag {
  background: #ddff12;
  color: #101010;
}

.interview__tag {
  background: #00bf00;
  color: #fff;
}

.mental__tag {
  background: #a7ffa7;
  color: #101010;
}

.study__tag {
  background: rgba(255, 79, 79, 0.8);
  color: #101010;
}

.header-logo {
  display: flex;
  justify-content: center;
}
.header-logo > a {
  display: block;
  width: 48px;
}

